<p id="notice"><%= notice %></p>

<% specifics = table_arranging %>

<table border="3">
<% if !specifics %>

  <tr>
    <th>Value</th>
    <th>Occurred at</th>
    <th>Type</th>
	  <th>Category</th>
  </tr>

	<% @client.transactions.each do |transaction| %>
		<tr>
			<td>$<%= transaction.value %></td>
			<td><%= transaction.datetime %></td>
			<td><% if transaction.credit %>
						CREDIT
					<% else %>
						DEBIT
					<% end %></td>
			<td><%= transaction.category.name %></td>
			<td><%= link_to 'Show', transaction %></td>
			<td><%= link_to 'Destroy', transaction, confirm: 'Are you sure?', method: :delete %></td>
		</tr>
	<% end %>

<% else %>
	<% transactions = specifics.order(:category_id).order(:datetime) %>
	<% previous = nil %>

	<% transactions.each do |transaction| %>
		<% if !previous || (previous && (previous.category.name != transaction.category.name)) %>
		</table>
		<br>
			<td><b>Category:</b> <%= transaction.category.name %></td>
		</br></br>
		<table border="3">
			<tr>
				<th>Value</th>
				<th>Occurred at</th>
				<th>Type</th>
			</tr>
		<% end %>
		<% previous = transaction %>
		<tr>
			<td>$<%= transaction.value %></td>
			<td><%= transaction.datetime %></td>
			<td><% if transaction.credit %>
						CREDIT
					<% else %>
						DEBIT
					<% end %></td>
			<td><%= link_to 'Show', transaction %></td>
			<td><%= link_to 'Destroy', transaction, confirm: 'Are you sure?', method: :delete %></td>
		</tr>
	<% end %>

<% end %>
</table>

<% if @client.transactions.empty? %>
	<h4>You don't have registered transactions!</h4>
<% end %>
</br>

<%= link_to "See all transactions", trans_client_path %>
</br></br>
<%= link_to 'See transactions from a specific month', specific_t_client_path %>
</br></br>
<%= link_to 'Generate report for transactions in specific period', specific_period_client_path %>
</br></br>
<%= link_to 'Generate report for transactions with specific values range', specific_values_client_path %>
</br></br>
<%= link_to 'Generate report for transactions from a specific category', specific_category_client_path %>
</br></br>
<%= link_to "Add transaction", :controller => "transactions",
																						:action => "new",
																						:client => @client %>
</br></br>
<%= link_to 'Back', @client %>
